<section id="hero" class="hero-fixed hero-fade hero-medium">
    <div id="login-layuot-outer">
        <div id="login-layuot-container">
            <div id="layuot-container-title">
                <div><h2 style="color: #f5f5f5; padding-top: 15px; padding-left: 15px" ><strong>Sea Oracle</strong></h2></div>
            </div>
            <div id="login-layuot-inner">
                <div class="row" style="margin-top: 110px">
                    <div class="col-lg-12">
                        {{#if controller.newLog}}
                            {{partial "login/partials/-new"}}
                        {{else}}
                            {{partial "login/partials/-submit"}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer navbar-fixed-bottom" style="background-color: rgba(59,134,134,1); padding: 18px 0 0;height: 60px;">
    <div class="container">
        <h5 style="color: #f5f5f5">chi siamo condizioni privacy</h5>
        <!--<div class="d-block d-block-menu g-menu-global-footer">-->
        <!--<ul class="menu nav clearfix" role="menu"><li class="first leaf" role="menuitem"><a href="https://about.twitter.com/" target="_blank">Chi siamo</a></li>-->
        <!--<li class="leaf" role="menuitem"><a href="https://support.twitter.com/">Supporto</a></li>-->
        <!--<li class="leaf" role="menuitem"><a href="https://twitter.com/tos">Condizioni</a></li>-->
        <!--<li class="leaf" role="menuitem"><a href="https://twitter.com/privacy" target="_blank">Privacy</a></li>-->
        <!--<li class="last leaf" role="menuitem"><a href="https://support.twitter.com/articles/20170514" target="_blank">Cookie</a></li>-->
        <!--</ul></div>        <span class="copyright">© 2014 Twitter, Inc.</span>-->
    </div>
</div>