<!--

TYPE: partial
FROM: 'templates/bookings/pieces/_buttonLeftNav'

-->


<!--FIXME: ho dovuto separare i controlli sul tipo di companyType poiche' se vado a creare -->
{{#if controller.is_admin}}
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" style="text-align: left" class="btn btn-primary btn-group-justified" {{action "changeState_and_share" this 'pending' agency 'request'}}>
                <span class="glyphicon glyphlink glyphicon-send"  style="color: aliceblue"></span>Send
            </button>
        </div>
    </div>
    {{#if app_controller.user_record.booking_remove}}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                    <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                </button>
            </div>
        </div>
    {{/if}}
{{/if}}
{{#if controller.is_client}}
    <div class="row">
        <div class="col-lg-12">
            <button type="button" style="text-align: left" class="btn btn-primary btn-group-justified" {{action "changeState_and_share" this 'pending' agency 'request'}}>
                <span class="glyphicon glyphlink glyphicon-send"  style="color: aliceblue"></span> Send
            </button>
        </div>
    </div>
    {{#if app_controller.user_record.booking_remove}}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                    <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                </button>
            </div>
        </div>
    {{/if}}
{{/if}}