<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead">Port Search</p>
                            </div>
                            <div class="col-lg-6">
                                {{#view "search"}}
                                    <button type="button" class="btn btn-primary btn-130 pull-right">
                                        <span class="glyphicon glyphbutton glyphicon-search"></span> Search
                                    </button>
                                {{/view}}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px; margin-bottom: 15px">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <label>Name</label>
                                {{input value= controller.searchName class='form-control'}}
                            </div>
                            <div class="col-lg-5">
                                <label>UnLocode</label>
                                <!--<a id="autocomplete-portUnLocode">-->
                                {{select-2
                                content= app_controller.autocompletePoiPort
                                value= controller.searchUnLocode
                                optionLabelPath="unLocode"
                                placeholder="Choose a code"
                                typeaheadNoMatchesText="No code found for '%@'"
                                typeaheadErrorText="Loading failed: %@"
                                enabled=true
                                allowClear=true}}
                                    {{!{{auto-complete source=app_controller.autocompletePoiPort destination=controller.searchUnLocode searchPath="unLocode" minChars=0}}
                                <!--</a>-->
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row" style="margin-bottom: 25px">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <label>Country</label>
                                {{view Ember.Select content=app_controller.nations optionLabelPath = "content.country" valueBinding='country' prompt="Please select a country" value= controller.searchCountry class='form-control'}}
                            </div>
                            <div class="col-lg-5"></div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
