<div class="row" style="margin-bottom: 25px">
    <h5 class="page-header"></h5>
    <div class="col-lg-12">
        {{#view 'standby-button' action_name='update_general' arg1='bookingCharges' arg2=id}}
            <button id="form-submit" type="button" data-style="slide-left" class="btn btn-primary ladda-button btn-130 pull-right">
                <span class="ladda-label" > Confirm </span>
            </button>
        {{/view}}
    </div>
</div>