<div class= "well well-lg" style="background-color: #FAFDFD; margin-top: 25px; margin-bottom: 25px">
    <div class="row" style="margin-top: 25px; margin-bottom: 20px">
        <div class="col-lg-12"><h4><strong>Add company</strong></h4></div>
    </div>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-lg-12">
            <!--<a id="autocomplete-company">-->
            {{select-2
            content= app_controller.autocompleteCompany
            value= controller.searchCompany
            optionLabelPath="name"
            placeholder="Choose a company"
            typeaheadNoMatchesText="No company found for '%@'"
            typeaheadErrorText="Loading failed: %@"
            enabled=true
            allowClear=true}}
                {{!{{auto-complete source=app_controller.autocompleteCompany destination=controller.searchCompany searchPath="name" minChars=0}}
            <!--</a>-->
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-lg-12">
            <button class="btn btn-default btn-group-justified" {{action "open_modal" 'link.modals.company-view' controller.searchCompany}}> View </button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-group-justified pull-right" {{action "custom_linkCompanies" controller.searchCompany.id}}> Connect </button>
        </div>
    </div>
</div>