<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class= "well well-lg" style="background-color: #FAFDFD">
            <div class="row">
                <div class="col-lg-6">
                    <p class="lead">Vessel Search</p>
                </div>
                <div class="col-lg-6">
                    {{#view "search"}}
                        <button type="button" class="btn btn-primary btn-130 pull-right">
                            <span class="glyphicon glyphbutton glyphicon-search"></span> Search
                        </button>
                    {{/view}}
                </div>
            </div>
            <div class="row" style="margin-top: 25px; margin-bottom: 15px">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Nickname</label>
                    {{input value= controller.searchNickname class='form-control'}}
                </div>
                <div class="col-lg-5">
                    <label>Payload</label>
                    {{input value= controller.searchPayload class='form-control'}}
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>