<div class="modal-header">
    <button type="button" class="close" {{action close 'overview' 'application' target="view"}}>&times;</button>
    <h3>Terms of service</h3>
</div>
<div class="modal-body">
    <h3>General Terms and Conditions</h3>
    <p>
        The seaforward.com website, including all linked pages is owned solely by Zeno Intelligence srl. The seaforward.com site provides users with access
        to information and materials which is available to only the user of the website and provided as a convenience. Unless otherwise agreed in writing with
        Zeno Intelligence srl your agreement to use the website will always include, at a minimum, the terms and conditions set out in this document.
    </p>

    <h3>Changes to the Terms and Conditions</h3>
    <p>
        Zeno Intelligence srl reserves the exclusive right to introduce different content, features, links or functionality to users of the website,
        without notice, as well to add or change any of that content. Zeno Intelligence srl may change these Terms and Conditions at anytime without prior notice or warning,
        as a user if you do not agree with any of the Terms and Conditions you should cease use of the seaforward.com website. By using this website you are bound by those
        changes or supplements whether or not you have actually read or are aware of those changes or supplements.
    </p>

    <h3>Copyright Information</h3>
    <p>
        All content included on the seaforward.com website, such as text, documents, logos, graphics, audio visual images, buttons, banners, icons, news, articles, and software,
        is the property of Zeno Intelligence srl (or its content suppliers), and is protected by United States and international copyright laws.
    </p>

    <h3>Termination of the Use of the Website</h3>
    <p>
        Zeno Intelligence srl reserves the right, at any time or without prior notice, to terminate the use and operation of the seaforward.com website. Zeno Intelligence srl
        also reserves the right to immediately suspend or terminate the user’s ability to access the seaforward.com website upon breach of the Terms and Conditions of the website.
    </p>

    <h3>Prohibited Acts</h3>
    <p>
        As a user of the seaforward.com website, you agree to not knowingly; (i) post to the seaforward.com website any unlawful, fraudulent, harassing or obscene information or content
        of any kind; (ii) use any device or technology to provide repeated automated attempts to access password-protected portions of the website; (iii) send to the website or post any
        information that contains a bug or virus; (iv) interfere with the proper working of the website through any device or software; (v) use the content on the website to publish,
        distribute, copy, reverse engineer or derivative works; (vi) take any action which imposes an unreasonable or disproportionately large load on Zeno Intelligence srl infrastructure.
    </p>

    <h3>Disclaimer of Warranties</h3>
    <p>
        The Internet and computer software (particularly software utilized in conjunction with the Internet) is inherently complex, may not be completely free of errors and cannot
        be absolutely secure and completely resistant to penetration by unauthorized persons, Zeno Intelligence srl cannot guarantee the complete security and continued integrity
        of any information provided to us through our website. Therefore, it is your responsibility to verify your work and information and to make backup copies of all information,
        and Zeno Intelligence srl will not be responsible for your failure to do so.
    </p>
    <p>
        YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF OUR SERVICES AND THE INTERNET IS AT YOUR OWN RISK AND THAT THE SERVICES ARE PROVIDED AS IS AND ZENO INTELLIGENCE SRL WILL USE
        COMMERCIALLY REASONABLE EFFORTS TO MAKE ACCESS TO THE SERVICES AND TO ITS WEB SITE AVAILABLE TO YOU THROUGH THE REQUIRED ACCESS PROTOCOLS AND TO PROTECT THE SECURITY AND
        CONFIDENTIALITY OF ANY INFORMATION YOU TRANSMIT THROUGH OUR WEBSITE OR UTILIZING OUR SERVICES, BUT ZENO INTELLIGENCE SRL MAKES NO WARRANTY OR GUARANTEE THAT YOU WILL BE ABLE
        TO ACCESS THE SERVICES OR OUR WEB SITE AT ANY PARTICULAR TIME OR FROM ANY PARTICULAR LOCATION OR THAT ANY INFORMATION YOU TRANSMIT THROUGH OUR WEBSITE OR UTILIZING OUR SERVICES
        WILL BE COMPLETELY SECURE AND FREE FROM UNAUTHORIZED ACCESS.
    </p>

    <h3>Limitation of Liability</h3>
    <p>
        In no event will Zeno Intelligence srl or any of its employees or Directors be liable for any losses or damages, whether in contract or otherwise, arising out of your use or
        inability to use or reliance upon the seaforward.com website.
    </p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" {{action close 'overview' 'application' target="view"}}>Close</a>
</div>