<div class="modal-header">
    <button type="button" class="close" {{action close 'overview' 'application' target="view"}}>&times;</button>
    <h3>Share resources</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Insert the name of the company that you want to authorize to see the booking.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <label>Company</label>
            <a id="autocomplete-companyToShare">
                {{auto-complete source=app_controller.autocompleteCompany destination=controller.searchCompanyToShare searchPath="name" minChars=1}}
            </a>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" {{action close 'overview' 'application' target="view"}}>Close</a>
    <a href="#" class="btn btn-default" {{action send_authorizeResource controller.searchCompanyToShare target="view"}}>Share</a>
</div>